a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  